# OpenClaw Settings

USERNAME="[your-username]"
PROJECT_ID=$(gcloud config get-value project)
REGION="us-central1"
ZONE="us-central1-a"
MACHINE_TYPE="e2-standard-2"
NET_NAME="openclawnet"
SUBNET_NAME="openclaw-subnet-us"
VM_NAME="openclaw-go"
IP_NAME="openclaw-ip"
BUCKET_NAME="openclaw-scripts-bucket-${PROJECT_ID}"
SA_NAME="openclaw-sa"
SA_EMAIL="${SA_NAME}@${PROJECT_ID}.iam.gserviceaccount.com"
SETUP_SCRIPT="setup_instance.sh"
MONTHLY_BUDGET=100
DOMAIN="[your-domain.com]"
ADMIN_EMAIL="[your-email@gmail.com]"
